@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0a0120;
}
/* ----------------------------------- game ------------------------------------- */
.game{
    position: relative; 
    
    margin: 0 auto; /* deixa centralizado*/

    width: 90%;
    height: 50vh;

    border-radius: 2rem;

    margin-top: 5rem;

    overflow: hidden; /* faz tudo que sair da tela desaparecer */

    background: linear-gradient(#87CEEB, #E0F6FF);
    box-shadow: 4px 4px 14px black;
}

.pipe{
    position: absolute; /* faz com que a posição de nenhuma afeta a outra */
    bottom: 0; /* deixa a imagem na parte de baixo */

    width: 5rem;
    right: -80px;

    /* infinite = repete a animação infinitamente | linear = deixa a animação com velocidade continua */
    animation: pipeanimation 1.5s infinite linear;
}

.mario{
    position: absolute; /* faz com que a posição de nenhuma afeta a outra */

    z-index: 1;
    width: 10%;
    bottom: 0;
}

.mario-jump{
    animation: marioanimation 500ms ease-out;
}

.clounds{
    position: absolute;
    width: 500px;
    margin-top: 2.5rem;
    animation: cloundsanimation 15s infinite linear;
}

.points{
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 2rem;

    z-index: 1;

    font-family: 'Press Start 2P', cursive;

    color: #fff;
    text-shadow: -3px 0px black; /* coloca sombras em textos */
}

.hipoints{
    position: absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 17rem;

    z-index: 1;

    font-family: 'Press Start 2P', cursive;

    color: #636363;
    text-shadow: -3px 0px #cecdcd; /* coloca sombras em textos */ 
}
/* -------------------------------------- game animation -------------------------------- */
@keyframes pipeanimation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes marioanimation {
    0% {
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }

}

@keyframes mariodeath{
    0% {
      transform: rotate(0deg) translateY(0);
    }
    100% {
      transform: rotate(360deg) translateY(25rem);
    }
 
  }

@keyframes cloundsanimation {
    from {
        right: -500px;
    }
    to {
        right: 100%;
    }
}